In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,confusion_matrix,accuracy_score
%matplotlib inline

# Logistic Regression 
## sigmoid function
# $$ h_ \theta (x) =  \frac{\mathrm{1} }{\mathrm{1} + e^- \theta^Tx }  $$

In [2]:
dataset=pd.read_csv('Social_Network_Ads.csv')

In [5]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [7]:
sct=StandardScaler()
x_train=sct.fit_transform(x_train)
x_test=sct.transform(x_test)

In [8]:
ligmodel=sm.Logit(y_train,x_train)
a=ligmodel.fit(maxiter=800)

Optimization terminated successfully.
         Current function value: 0.431764
         Iterations 7

In [9]:
print(a.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  300
Model:                          Logit   Df Residuals:                      298
Method:                           MLE   Df Model:                            1
Date:                Sat, 17 Sep 2022   Pseudo R-squ.:                  0.3448
Time:                        18:00:17   Log-Likelihood:                -129.53
converged:                       True   LL-Null:                       -197.69
Covariance Type:            nonrobust   LLR p-value:                 1.702e-31
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.9250      0.243      7.915      0.000       1.448       2.402
x2             1.0735      0.197      5.436      0.000       0.686       1.461
==============================================================================

In [10]:
regressor=LogisticRegression()
regressor.fit(x_train,y_train)
regressor.score(x_test,y_test)

0.89

In [11]:
cm=confusion_matrix(y_test,regressor.predict(x_test))
print(cm)
accuracy_score(y_test,regressor.predict(x_test))

[[65  3]
 [ 8 24]]

0.89

In [12]:
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]